
.tabela {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 100;
}


.cabecalho {
    background-color: purple; 
    color: white;
    font-weight: bold;
    padding: 30px;
    text-align: center;
    border: 1px solid black;
}

.titulo {
    
    border: 3px solid black; 
    padding: 10px;

    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: blue;

    display: flex;
    justify-content: center;
    align-items: center;
    width:fit-content;
    margin: 20px auto;
}
.coluna{
    background-color: rgb(0, 100, 128); 
    color: white;
    font-weight: bold;
    padding: 70px;
    text-align: center;
    border: 1px solid black;
}
body{
    background-color: black;
}
.botao{
    border: 3px solid black; 
    padding: 10px;

    text-align: center;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width:fit-content;
    margin: 20px auto;
}
.titulo:hover{
    color:  yellow;
}
.botao:hover{
    color: greenyellow;
}
.back{
    background-color: antiquewhite;
}
#body{
    background-color: bisque;
}